<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.dao.LeaveBillDao">
  <resultMap id="BaseResultMap" type="com.bean.LeaveBill">
    <id column="id"  property="id" />
    <result column="days"  property="days" />
    <result column="content"  property="content" />
    <result column="date"  property="date" />
    <result column="remark"  property="remark" />
    <result column="state" property="state" />
    <association property="userTb" javaType="com.bean.UserTb">
      <id column="user_id" jdbcType="INTEGER" property="userId" />
      <result column="student_id" jdbcType="INTEGER" property="studentId" />
      <result column="role_id" jdbcType="INTEGER" property="roleId" />
      <result column="user_name" jdbcType="VARCHAR" property="userName" />
      <result column="user_ps" jdbcType="VARCHAR" property="userPs" />
      <result column="user_realname" jdbcType="VARCHAR" property="userRealname" />
      <result column="user_sex" jdbcType="VARCHAR" property="userSex" />
      <result column="user_email" jdbcType="VARCHAR" property="userEmail" />
      <result column="user_phone" jdbcType="VARCHAR" property="userPhone" />
      <result column="user_address" jdbcType="VARCHAR" property="userAddress" />
      <result column="user_idcard" jdbcType="VARCHAR" property="userIdcard" />
      <result column="user_content" jdbcType="VARCHAR" property="userContent" />
      <result column="logincount" jdbcType="INTEGER" property="logincount" />
      <result column="regdate" jdbcType="DATE" property="regdate" />
      <result column="managerid" property="managerid"></result>
    </association>
  </resultMap>

  <select id="findleavelist" resultType="com.bean.LeaveBill">

     select * from leavebill  where userid=#{userid}
  </select>
  <insert id="add" parameterType="com.bean.LeaveBill">
    insert into leavebill(days,content,date,remark,userid,state)
    values(#{days},#{content},#{date},#{remark},#{userTb.userId},0)
  </insert>
  <update id="updateState">
     update leavebill set state=#{state}
     where id=#{leaveid}

  </update>

  <select id="findbyleaveid" resultType="com.bean.LeaveBill">
    select * from leavebill where id=#{lid}
  </select>

</mapper>